{% extends 'landing/base.html'%}

{% block content %}

<style>
  .borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > td,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
    border: none;
}

.color-mainheader{
  display: table;
}
.color-header{
  background-color: #00475f;
  color: whitesmoke;
  padding: 1rem;
}
td{
  font-size: 1.05rem;
}
br{
  margin: 1rem;
}
</style>
<div class="d-flex justify-content-between">

  <div class="text mx-2 my-4 " style="color: #002e3d;" >
    <h1>Compare Colleges</h1>
  </div>

  <div class="mx-2 my-4 ">
    <a href="{% url 'placement' %}" class="text-white btn btn-secondary"><i class="fas fa-chart-bar"></i> Placement Stats</a>
  </div>
</div>
 <div class="row">
    <form action="" method="POST" class="col">
      <div class="row">
        {% csrf_token %}
          <div class="col my-2 mx-2">
            <div style="font-size: 2.5rem; color:#00475f;"><center><i class="fa fa-university"></i></center></div>
            <select name="college1" id="" class="form-control" required>
                <option value="" selected disabled> Select college for comparison </option>
                <optgroup label="Mumbai Colleges">
                  <option value="Veermata Jijabai Technological Institute(VJTI)">Veermata Jijabai Technological Institute(VJTI)</option>
                  <option value="Sardar Patel College of Engineering (SPCE)">Sardar Patel College of Engineering (SPCE)</option>
                  <option value="Usha Mittal Institute of Technology (UMIT)">Usha Mittal Institute of Technology (UMIT)</option>
                  <option value="Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)">Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)</option>
                  <option value="Vidyalankar Institute of Technology (VIT)">Vidyalankar Institute of Technology (VIT)</option>
                  <option value="K. J. Somaiya College of Engineering (KJSE)">K. J. Somaiya College of Engineering (KJSE)</option>
                  <option value="Thadomal Shahani Engineering Collage (TSEC)">Thadomal Shahani Engineering Collage (TSEC)</option>
                  <option value="Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)">Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)</option>
                  <option value="Fr. Conceicao Rodrigues College of Engineering (FCRCE)">Fr. Conceicao Rodrigues College of Engineering (FCRCE)</option>
                  <option value="Rizvi Collage of Engineering (RCE)">Rizvi Collage of Engineering (RCE)</option>
                  <option value="Atharva Collage of Engineering (ACE))">Atharva Collage of Engineering (ACE)</option>
                  <option value="St. Francis Institute of Technology (SFIT)">St. Francis Institute of Technology (SFIT)</option>
                  <option value="Don Bosco Institute of Technology (DBIT)">Don Bosco Institute of Technology (DBIT)</option>
                </optgroup>
                <optgroup label="Thane Colleges">
                    <option value="Terna Engineering College (TEC)">Terna Engineering College (TEC)</option>
                    <option value="Vidyavardhini Collage of Engineering and Technology (VCET)">Vidyavardhini Collage of Engineering and Technology (VCET)</option>
                    <option value="FR. C. Rodrigues Institute of Technology(FCRIT)">FR. C. Rodrigues Institute of Technology(FCRIT)</option>
                    <option value="Excelsior Educational Society's K.C. Collage of Engineering (KCCE)">Excelsior Educational Society's K.C. Collage of Engineering (KCCE)</option>
                    <option value="S.I.E.S Gradutate School of Technology (SIES)">S.I.E.S Gradutate School of Technology (SIES)</option>
                    <option value="Jondhale Collage of Engineering (JCE)">Jondhale Collage of Engineering (JCE)</option>
                    <option value="Universal Collage of Engineering (UCE)">Universal Collage of Engineering (UCE)</option>
                    <option value="Ideal Institue of Technology (IIT)">Ideal Institue of Technology (IIT)</option>
                    <option value="New Horizon Institute of Technology (NHIT)">New Horizon Institute of Technology (NHIT)</option>
                    <option value="A.P.Shah Institute of Technology (APST)">A.P.Shah Institute of Technology (APST)</option>
                </optgroup>
                <optgroup label="Pune Colleges">
                  <option value="Collage of Engineering(COEP)">Collage of Engineering(COEP)</option>
                  <option value="Rajarshi Shahu Collage of Engineering">Rajarshi Shahu Collage of Engineering</option>
                  <option value="G.H. Raisoni Collage of Engineering and Managment">G.H. Raisoni Collage of Engineering and Managment</option>
                  <option value="Dhole Patil College of Engineering(DPES)">Dhole Patil College of Engineering(DPES)</option>
                  <option value="JSPM Narhe Technical Campus ">JSPM Narhe Technical Campus </option>
              </optgroup>
            </select>
          </div> 
          <div class="col my-2 mx-2">
            <div style="font-size: 2.5rem; color:#00475f;"><center><i class="fa fa-university"></i></center></div>
            <select name="college2" id="" class="form-control" >
                <option value="" selected disabled> Select college for comparison </option>
                <optgroup label="Mumbai Colleges">
                  <option value="Veermata Jijabai Technological Institute(VJTI)">Veermata Jijabai Technological Institute(VJTI)</option>
                  <option value="Sardar Patel College of Engineering (SPCE)">Sardar Patel College of Engineering (SPCE)</option>
                  <option value="Usha Mittal Institute of Technology (UMIT)">Usha Mittal Institute of Technology (UMIT)</option>
                  <option value="Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)">Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)</option>
                  <option value="Vidyalankar Institute of Technology (VIT)">Vidyalankar Institute of Technology (VIT)</option>
                  <option value="K. J. Somaiya College of Engineering (KJSE)">K. J. Somaiya College of Engineering (KJSE)</option>
                  <option value="Thadomal Shahani Engineering Collage (TSEC)">Thadomal Shahani Engineering Collage (TSEC)</option>
                  <option value="Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)">Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)</option>
                  <option value="Fr. Conceicao Rodrigues College of Engineering (FCRCE)">Fr. Conceicao Rodrigues College of Engineering (FCRCE)</option>
                  <option value="Rizvi Collage of Engineering (RCE)">Rizvi Collage of Engineering (RCE)</option>
                  <option value="Atharva Collage of Engineering (ACE))">Atharva Collage of Engineering (ACE)</option>
                  <option value="St. Francis Institute of Technology (SFIT)">St. Francis Institute of Technology (SFIT)</option>
                  <option value="Don Bosco Institute of Technology (DBIT)">Don Bosco Institute of Technology (DBIT)</option>
                </optgroup>
                <optgroup label="Thane Colleges">
                    <option value="Terna Engineering College (TEC)">Terna Engineering College (TEC)</option>
                    <option value="Vidyavardhini Collage of Engineering and Technology (VCET)">Vidyavardhini Collage of Engineering and Technology (VCET)</option>
                    <option value="FR. C. Rodrigues Institute of Technology(FCRIT)">FR. C. Rodrigues Institute of Technology(FCRIT)</option>
                    <option value="Excelsior Educational Society's K.C. Collage of Engineering (KCCE)">Excelsior Educational Society's K.C. Collage of Engineering (KCCE)</option>
                    <option value="S.I.E.S Gradutate School of Technology (SIES)">S.I.E.S Gradutate School of Technology (SIES)</option>
                    <option value="Jondhale Collage of Engineering (JCE)">Jondhale Collage of Engineering (JCE)</option>
                    <option value="Universal Collage of Engineering (UCE)">Universal Collage of Engineering (UCE)</option>
                    <option value="Ideal Institue of Technology (IIT)">Ideal Institue of Technology (IIT)</option>
                    <option value="New Horizon Institute of Technology (NHIT)">New Horizon Institute of Technology (NHIT)</option>
                    <option value="A.P.Shah Institute of Technology (APST)">A.P.Shah Institute of Technology (APST)</option>
                </optgroup>
                <optgroup label="Pune Colleges">
                  <option value="Collage of Engineering(COEP)">Collage of Engineering(COEP)</option>
                  <option value="Rajarshi Shahu Collage of Engineering">Rajarshi Shahu Collage of Engineering</option>
                  <option value="G.H. Raisoni Collage of Engineering and Managment">G.H. Raisoni Collage of Engineering and Managment</option>
                  <option value="Dhole Patil College of Engineering(DPES)">Dhole Patil College of Engineering(DPES)</option>
                  <option value="JSPM Narhe Technical Campus ">JSPM Narhe Technical Campus </option>
              </optgroup>
            </select>
          </div>    
          <div class="col my-2 mx-2">
            <div style="font-size: 2.5rem; color:#00475f;"><center><i class="fa fa-university"></i></center></div>
            <select name="college3" id="" class="form-control" >
                <option value="" selected disabled> Select college for comparison </option>
                <optgroup label="Mumbai Colleges">
                  <option value="Veermata Jijabai Technological Institute(VJTI)">Veermata Jijabai Technological Institute(VJTI)</option>
                  <option value="Sardar Patel College of Engineering (SPCE)">Sardar Patel College of Engineering (SPCE)</option>
                  <option value="Usha Mittal Institute of Technology (UMIT)">Usha Mittal Institute of Technology (UMIT)</option>
                  <option value="Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)">Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)</option>
                  <option value="Vidyalankar Institute of Technology (VIT)">Vidyalankar Institute of Technology (VIT)</option>
                  <option value="K. J. Somaiya College of Engineering (KJSE)">K. J. Somaiya College of Engineering (KJSE)</option>
                  <option value="Thadomal Shahani Engineering Collage (TSEC)">Thadomal Shahani Engineering Collage (TSEC)</option>
                  <option value="Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)">Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)</option>
                  <option value="Fr. Conceicao Rodrigues College of Engineering (FCRCE)">Fr. Conceicao Rodrigues College of Engineering (FCRCE)</option>
                  <option value="Rizvi Collage of Engineering (RCE)">Rizvi Collage of Engineering (RCE)</option>
                  <option value="Atharva Collage of Engineering (ACE))">Atharva Collage of Engineering (ACE)</option>
                  <option value="St. Francis Institute of Technology (SFIT)">St. Francis Institute of Technology (SFIT)</option>
                  <option value="Don Bosco Institute of Technology (DBIT)">Don Bosco Institute of Technology (DBIT)</option>
                </optgroup>
                <optgroup label="Thane Colleges">
                    <option value="Terna Engineering College (TEC)">Terna Engineering College (TEC)</option>
                    <option value="Vidyavardhini Collage of Engineering and Technology (VCET)">Vidyavardhini Collage of Engineering and Technology (VCET)</option>
                    <option value="FR. C. Rodrigues Institute of Technology(FCRIT)">FR. C. Rodrigues Institute of Technology(FCRIT)</option>
                    <option value="Excelsior Educational Society's K.C. Collage of Engineering (KCCE)">Excelsior Educational Society's K.C. Collage of Engineering (KCCE)</option>
                    <option value="S.I.E.S Gradutate School of Technology (SIES)">S.I.E.S Gradutate School of Technology (SIES)</option>
                    <option value="Jondhale Collage of Engineering (JCE)">Jondhale Collage of Engineering (JCE)</option>
                    <option value="Universal Collage of Engineering (UCE)">Universal Collage of Engineering (UCE)</option>
                    <option value="Ideal Institue of Technology (IIT)">Ideal Institue of Technology (IIT)</option>
                    <option value="New Horizon Institute of Technology (NHIT)">New Horizon Institute of Technology (NHIT)</option>
                    <option value="A.P.Shah Institute of Technology (APST)">A.P.Shah Institute of Technology (APST)</option>
                </optgroup>
                <optgroup label="Pune Colleges">
                  <option value="Collage of Engineering(COEP)">Collage of Engineering(COEP)</option>
                  <option value="Rajarshi Shahu Collage of Engineering">Rajarshi Shahu Collage of Engineering</option>
                  <option value="G.H. Raisoni Collage of Engineering and Managment">G.H. Raisoni Collage of Engineering and Managment</option>
                  <option value="Dhole Patil College of Engineering(DPES)">Dhole Patil College of Engineering(DPES)</option>
                  <option value="JSPM Narhe Technical Campus ">JSPM Narhe Technical Campus </option>
              </optgroup>
            </select>
          </div> 
          <div class="col my-2 mx-2">
            <div style="font-size: 2.5rem; color:#00475f;"><center><i class="fa fa-university"></i></center></div>
            <select name="college4" id="" class="form-control" >
                <option value="" selected disabled> Select college for comparison </option>
                <optgroup label="Mumbai Colleges">
                  <option value="Veermata Jijabai Technological Institute(VJTI)">Veermata Jijabai Technological Institute(VJTI)</option>
                  <option value="Sardar Patel College of Engineering (SPCE)">Sardar Patel College of Engineering (SPCE)</option>
                  <option value="Usha Mittal Institute of Technology (UMIT)">Usha Mittal Institute of Technology (UMIT)</option>
                  <option value="Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)">Manjara Charitable Trust's Rajiv Gandhi Institute of Technology (RGIT)</option>
                  <option value="Vidyalankar Institute of Technology (VIT)">Vidyalankar Institute of Technology (VIT)</option>
                  <option value="K. J. Somaiya College of Engineering (KJSE)">K. J. Somaiya College of Engineering (KJSE)</option>
                  <option value="Thadomal Shahani Engineering Collage (TSEC)">Thadomal Shahani Engineering Collage (TSEC)</option>
                  <option value="Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)">Anjuman-I-Islam's M.H. Saboo Siddik Collage of Engineering (SSCE)</option>
                  <option value="Fr. Conceicao Rodrigues College of Engineering (FCRCE)">Fr. Conceicao Rodrigues College of Engineering (FCRCE)</option>
                  <option value="Rizvi Collage of Engineering (RCE)">Rizvi Collage of Engineering (RCE)</option>
                  <option value="Atharva Collage of Engineering (ACE))">Atharva Collage of Engineering (ACE)</option>
                  <option value="St. Francis Institute of Technology (SFIT)">St. Francis Institute of Technology (SFIT)</option>
                  <option value="Don Bosco Institute of Technology (DBIT)">Don Bosco Institute of Technology (DBIT)</option>
                </optgroup>
                <optgroup label="Thane Colleges">
                    <option value="Terna Engineering College (TEC)">Terna Engineering College (TEC)</option>
                    <option value="Vidyavardhini Collage of Engineering and Technology (VCET)">Vidyavardhini Collage of Engineering and Technology (VCET)</option>
                    <option value="FR. C. Rodrigues Institute of Technology(FCRIT)">FR. C. Rodrigues Institute of Technology(FCRIT)</option>
                    <option value="Excelsior Educational Society's K.C. Collage of Engineering (KCCE)">Excelsior Educational Society's K.C. Collage of Engineering (KCCE)</option>
                    <option value="S.I.E.S Gradutate School of Technology (SIES)">S.I.E.S Gradutate School of Technology (SIES)</option>
                    <option value="Jondhale Collage of Engineering (JCE)">Jondhale Collage of Engineering (JCE)</option>
                    <option value="Universal Collage of Engineering (UCE)">Universal Collage of Engineering (UCE)</option>
                    <option value="Ideal Institue of Technology (IIT)">Ideal Institue of Technology (IIT)</option>
                    <option value="New Horizon Institute of Technology (NHIT)">New Horizon Institute of Technology (NHIT)</option>
                    <option value="A.P.Shah Institute of Technology (APST)">A.P.Shah Institute of Technology (APST)</option>
                </optgroup>
                <optgroup label="Pune Colleges">
                  <option value="Collage of Engineering(COEP)">Collage of Engineering(COEP)</option>
                  <option value="Rajarshi Shahu Collage of Engineering">Rajarshi Shahu Collage of Engineering</option>
                  <option value="G.H. Raisoni Collage of Engineering and Managment">G.H. Raisoni Collage of Engineering and Managment</option>
                  <option value="Dhole Patil College of Engineering(DPES)">Dhole Patil College of Engineering(DPES)</option>
                  <option value="JSPM Narhe Technical Campus ">JSPM Narhe Technical Campus </option>
              </optgroup>
            </select>
          </div> 
          
            <center class="my-3 mx-3"><input type="submit" class='btn btn-primary' value="Search"></center>
      
          
              {% for result in data1%}
              <div class="col" style="overflow: hidden;">
                <div class="col my-2 mx-2 ">
                    <div class="color-header" style="font-size: 1.5rem;" ><i class="fas fa-university"></i> About College</div>
                    <table class="table borderless">
                        <tbody>
                          <tr>
                            <td style="font-weight: bold;">College Code</td>
                            <td>{{result.college_code}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">College Name</td>
                            <td>{{result.college_name}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">College Location</td>
                            <td>{{result.college_location}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">College Status</td>
                            <td>{{result.college_status}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Minority Status</td>
                            <td>{{result.minority_status}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Year Founded</td>
                            <td>{{result.established_year}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col my-2 mx-2">
                    <div class="color-header" style="font-size: 1.5rem;" ><i class="fas fa-book"></i> Courses Offered</div>
                    <table class="table borderless">
                        <tbody>
                          <tr>
                            <td >
                              {{result.course1}} 
                              <br> 
                              {{result.course2}}
                              <br>
                              {{result.course3}} 
                              <br> 
                              {{result.course4}}
                              <br>
                              {{result.course5}} 
                              <br> 
                              {{result.course6}}
                              <br>
                              {{result.course7}} 
                              <br> 
                              {{result.course8}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col my-2 mx-2">
                    <div class="color-header" style="font-size: 1.5rem;" ><i class="fas fa-book-open"></i> Courses Info</div>
                    <table class="table borderless">
                        <tbody>
                          <tr>
                            <td style="font-weight: bold;">Degree</td>
                            <td>{{result.degree_type}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Mode</td>
                            <td>{{result.mode}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Courses Duration(for DSE) in Years</td>
                            <td>{{result.duration}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col my-2 mx-2">
                    <div class="color-header" style="font-size: 1.5rem;" ><i class="fas fa-award"></i> Accreditation and Approval</div>
                    <table class="table borderless">
                        <tbody>
                          <tr>
                            <td style="font-weight: bold;">Approved by </td>
                            <td>{{result.approval}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col my-2 mx-2">
                    <div class="color-header" style="font-size: 1.5rem;" ><i class="fa fa-info-circle"></i> Infrastructure</div>
                    <table class="table borderless">
                        <tbody>
                          <tr>
                            <td>
                              {{result.infra1}}
                              <br>
                              {{result.infra2}}
                              <br>
                              {{result.infra3}}
                              <br>
                              {{result.infra4}}
                              <br>
                              {{result.infra5}}
                              <br>
                              {{result.infra6}}
                              <br>
                              {{result.infra7}}
                              <br>
                              {{result.infra8}}
                              <br>
                              {{result.infra9}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            {% endfor %}
    </form>
  
    
</div>
{% endblock content%}